<div>
  <%= @ping.user.user_name %>
</div>
<div>
  <%= image_tag @ping.image.url(:medium) %>
</div>
<p>
  <%= @ping.caption %>
</p>
<% if @ping.user.id == current_user.id %>
	<div>
  	<%= link_to "Edit", edit_ping_path(@ping) %>
	</div>
	<div>
  	<%= link_to "Cancel", pings_path %>
	</div>
<% else %>
	<div>
  	<%= link_to "Cancel", pings_path %>
	</div>
<% end %>
